body {
  height: 100%;
  margin: auto;
}

header {
  height: 30%;
  margin: auto;
  background-color: blueviolet;
  justify-content: center;
  color: white;
}

main {
  display: flex;
  height: 70%;
  margin: auto;
  justify-content: center;
}

h3 {
align-items: center;
justify-items: center;
}

.photo {
  height: 400px;
  width: 400px;
  border: black;
  border-style: solid;
  border-width: 3px;
}